.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: #59abe3;
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 340px;
    height: 760px;
    padding: 20px 30px;
    margin: 20px 0  20px 0;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    background: #e6e6e6;
}
/* Button send */
.sign_in {
    display: flex;
    margin: 10px 0;
    width: 120px;
    border-bottom: 3px solid #78788c;
    color: #78788c;
}
label {
    display: flex;
    font-size: 14px;
    color: #5a5a5a;
}
.error {
    display: flex;
    margin: 0 0 0 0 ;
    font-size: 14px;
    margin-left: 8px;
    color: #E34951;
}
/*#region Text part*/
.text_part {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.text_part input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}
.text_part input:focus {
    border-bottom: 2px solid #78788c;
}
.text_part textarea {
    display: flex;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}
.text_part textarea:focus {
    display: flex;
    border-bottom: 2px solid #78788c;
}
.text_part span {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
/*#endregion Text part*/
/*#region Chroose part*/
/*Choose div radio and check*/
.choose_part { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    padding:  10px 10px 0 10px;
}
.choose_part label {
    display: flex;
    white-space: nowrap;
    margin-bottom: 3px;
}
/*Radio*/
.choose_part .radio {
    display: flex; 
    flex-direction: column;
    width: 50%;
}
/*Check*/
.choose_part .check {
    display: flex;
    flex-direction: column;
    width: 50%;
}
/*label for both */
.choose_part span {
    display: flex;
    margin-bottom: 3px;
}
#choose_error {
    display: flex;
    flex-wrap: wrap;
    margin:  5px 0 0 8px;
}
/*Country*/
.choose_country {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}
.choose_country select {
    display: flex;
    width: 100%;
    margin-top: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    color: #5a5a6e;
     -webkit-appearance: none;
    background: #E6E6E6;
}
.choose_country option {
    display: flex;
    border: none;
    outline: none;
    background-color: #E6E6E6;
}
.choose_country option:hover {
    border: none;
    outline: none;
    background-color: #E6E6E6;
}
.choose_country span {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
/*#endregion Chroose part*/
/* Button send */
button {
    display: flex;
    font-family: "Montserrat", sans-serif;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: 0;
    cursor: pointer;
    transition: all 0.3s;
    color: #5a5a6e;
}
button:hover {
    background: #78788c;
    color: #ffffff;
}
